<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed for Mapbox tiles/styles -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="driver_portal"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Theme used while Flutter initializes -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Mapbox token -->
        <meta-data
            android:name="com.mapbox.maps.token"
            android:value="pk.eyJ1IjoiemFocmFlamEiLCJhIjoiY21sYXUyeGp1MGgzazNlcnpzeW1meGlzbyJ9.ewwTnf-usHpFkAmnVoZtNA" />

    </application>

    <!-- Flutter text processing plugin requirement -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
